In [ ]:
import pandas as pd

In [ ]:
import sqlite3
connTeams = sqlite3.connect("Data/teams.sqlite")
connOdds = sqlite3.connect("Data/odds.sqlite")
connData = sqlite3.connect("Data/dataset.sqlite")

sqlSelectTables = "SELECT name FROM sqlite_master WHERE type='table';"

tables_teams = pd.read_sql(sqlSelectTables, connTeams)
tables_odds = pd.read_sql(sqlSelectTables, connOdds)
tables_data = pd.read_sql(sqlSelectTables, connData)

print(tables_teams)
print(tables_odds)
print(tables_data)

In [ ]:
# Read the table into a pandas DataFrame
table_name = "teams_2023-24-4-13"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_teams = pd.read_sql("SELECT * FROM " + escaped_table_name, connTeams)

table_name = "odds_2023-24"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_odds = pd.read_sql("SELECT * FROM " + escaped_table_name, connOdds)

table_name = "dataset_2012-24"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_data = pd.read_sql("SELECT * FROM " + escaped_table_name, connData)


# Display the DataFrame
print(df_teams.head())
print(df_odds.head())
print(df_data.head())

In [ ]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

In [ ]:
season_2021_22 = tables[tables['name'].str.contains('teams_2021-22')]
season_2021_22

# Check the schema for teams_2021-22-2-5
# columns_2021_22_2_5 = pd.read_sql("PRAGMA table_info(teams_2021-22-2-5);", conn)
# columns_2021_22_2_5

# # Preview the first 5 rows from teams_2021-22-2-5
# preview_2021_22_2_5 = pd.read_sql('SELECT * FROM teams_2021-22-2-5 LIMIT 5;', conn)
# preview_2021_22_2_5

In [ ]:
# Loop through a selection of tables and show their preview with escaped table names
for table_name in season_2021_22['name']:
    print(f"Preview of table: {table_name}")
    escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
    preview = pd.read_sql(f'SELECT * FROM {escaped_table_name} LIMIT 5;', conn)
    print(preview)
    print("\n")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load data from a specific table into a DataFrame (e.g., teams_2021-22-2-5)
escaped_table_name = '"teams_2021-22-2-5"'
df = pd.read_sql(f'SELECT * FROM {escaped_table_name};', conn)

# Preview the data
df.head()

In [ ]:
# Example line plot: Assuming you have "date" and "score" columns
sns.lineplot(data=df, x='GP', y='W')  # Replace 'date' and 'score' with actual columns
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Find columns shared across all tables in the 2021-22 season
shared_columns = None
for table_name in season_2021_22['name']:
    escaped_table_name = '"' + table_name + '"'
    # print(escaped_table_name)
    columns = pd.read_sql(f"PRAGMA table_info({escaped_table_name});", conn)['name']
    if shared_columns is None:
        shared_columns = set(columns)
        # shared_columns
    else:
        shared_columns.intersection_update(columns)
        
shared_columns