In [3]:
import pandas as pd
import sqlite3
connOdds = sqlite3.connect("odds.sqlite")

sqlSelectTables = "SELECT name FROM sqlite_master WHERE type='table';"

tables_teams = pd.read_sql(sqlSelectTables, connTeams)

tables_teams

            name
0   odds_2021-22
1   odds_2020-21
2   odds_2019-20
3   odds_2018-19
4   odds_2017-18
5   odds_2016-17
6   odds_2015-16
7   odds_2014-15
8   odds_2013-14
9   odds_2012-13
10  odds_2011-12
11  odds_2010-11
12  odds_2009-10
13  odds_2008-09
14  odds_2007-08
15  odds_2022-23
16  odds_2023-24

In [5]:
table_name = "odds_2023-24"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_odds = pd.read_sql("SELECT * FROM " + escaped_table_name, connOdds)


# Display the DataFrame
print(df_odds.head())
df_odds

   index  Unnamed: 0          Date                   Home                Away  \
0      0           0  2023-24-1024         Denver Nuggets  Los Angeles Lakers
1      1           0  2023-24-1024  Golden State Warriors        Phoenix Suns
2      2           0  2023-24-1025         Indiana Pacers  Washington Wizards
3      3           0  2023-24-1025      Charlotte Hornets       Atlanta Hawks
4      4           0  2023-24-1025          Orlando Magic     Houston Rockets

      OU  Spread  ML_Home  ML_Away  Points  Win_Margin  Days_Rest_Home  \
0  229.0     5.0     -188      158     226          12               7
1  235.0     2.5     -148      126     212          -4               7
2  235.5     5.0     -205      172     263          23               7
3  236.0    -4.0      152     -180     226           6               7
4  219.5     4.5     -184      154     202          30               7

   Days_Rest_Away
0               7
1               7
2               7
3               7
4               7

,index,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin,Days_Rest_Home,Days_Rest_Away
0,0,0,2023-24-1024,Denver Nuggets,Los Angeles Lakers,229.0,5.0,-188,158,226,12,7,7
1,1,0,2023-24-1024,Golden State Warriors,Phoenix Suns,235.0,2.5,-148,126,212,-4,7,7
2,2,0,2023-24-1025,Indiana Pacers,Washington Wizards,235.5,5.0,-205,172,263,23,7,7
3,3,0,2023-24-1025,Charlotte Hornets,Atlanta Hawks,236.0,-4.0,152,-180,226,6,7,7
4,4,0,2023-24-1025,Orlando Magic,Houston Rockets,219.5,4.5,-184,154,202,30,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,1246,0,2023-24-0430,New York Knicks,Philadelphia 76ers,204.0,4.0,-168,142,218,-6,2,2
1247,1247,0,2023-24-0430,Cleveland Cavaliers,Orlando Magic,203.5,4.5,-178,150,207,1,3,3
1248,1248,0,2023-24-0430,Milwaukee Bucks,Indiana Pacers,218.0,-5.5,184,-220,207,23,2,2
1249,1249,0,2023-24-0501,Boston Celtics,Miami Heat,201.0,14.0,-1000,660,0,0,2,2
1250,1250,0,2023-24-0501,Los Angeles Clippers,Dallas Mavericks,208.5,-2.5,124,-146,0,0,3,3