In [ ]:
import pandas as pd
import sqlite3
connData = sqlite3.connect("dataset.sqlite")

sqlSelectTables = "SELECT name FROM sqlite_master WHERE type='table';"

tables_data = pd.read_sql(sqlSelectTables, connData)

tables_data

In [ ]:
table_name = "dataset_2012-24"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_data = pd.read_sql("SELECT * FROM " + escaped_table_name, connData)


# Display the DataFrame
print(df_data.head())
df_data