In [ ]:
import pandas as pd
import sqlite3
connTeams = sqlite3.connect("teams.sqlite")

sqlSelectTables = "SELECT name FROM sqlite_master WHERE type='table';"

tables_teams = pd.read_sql(sqlSelectTables, connTeams)

tables_teams

In [ ]:
# Read the table into a pandas DataFrame
table_name = "teams_2021-22-12-31"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_teams = pd.read_sql("SELECT * FROM " + escaped_table_name, connTeams)
df_teams

# Read the table into a pandas DataFrame
table_name = "teams_2021-22-12-31"
escaped_table_name = f'"{table_name}"'  # Escape table name with double quotes
df_teams = pd.read_sql("SELECT * FROM " + escaped_table_name, connTeams)
df_teams